<p id="notice"><%= notice %></p>

<h1>Actividades para estas fiestas patrias</h1>
<br>
<div class="container-fluid">
  <div class="card-columns">
    <% @tasks.each do |task| %>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="<%= task.photo %>" alt="Card image cap">
        <div class="card-body">
          <% if current_user.try(:admin?) %>
            <%= link_to task.title, task %>
          <% else %>
            <strong><%= task.title %></strong>
          <% end %>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="<%= new_user_session_path %>" class="btn btn-primary">Completar tarea</a>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% if current_user.try(:admin?) %>
  <%= link_to 'New Task', new_task_path %>
<% end %>